<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Hello, world'" />
	<table>
		<tr th:each="person: ${personas}">
			<td th:text="${person.lastName}" />
			<td th:text="${person.firstName}" />
		</tr>
	</table>

	<form action="#" th:action="@{/personas}" th:object="${person}"
		method="post">
		<label for="name">Name</label> 
			<input type="text" th:field="*{firstName}"
				id="firstName" placeholder="Nombre"> 
		<label for="name">Name</label>		
			<input type="text" th:field="*{lastName}"
				id="lastName" placeholder="Apellido"> 	
		 <input type="submit" value="Add User">
	</form>

</body>
</html>